<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Healthcare Management Dashboard</title>
	<link rel="stylesheet" href="../css/dashboard.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

	<div class="sidebar">
		<h2>Dashboard</h2>
		<ul>
			<li><a href=""><i class="fas fa-user-injured"></i> Patients</a></li>
			<li><a href=""><i class="fas fa-user-md"></i> Doctors</a></li>
			<li><a href="appointments.html"><i class="far fa-calendar-alt"></i> Appointments</a></li>
		</ul>
	</div>

	<div class="content">
		<header>
			<h1>Healthcare Management Dashboard</h1>
		</header>

		<main>

			<section class="appointment-table">
				<h2>Upcomming Appointments</h2>
				<table class="table-data">
					<thead>
						<tr>
							<th>Patient Name</th>
							<th>Doctor Name</th>
							<th>Date</th>
							<th>Time</th>
							<th>Paid</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</section>

		</main>

		<footer>
			<p>&copy; 2023 Healthcare Management System</p>
		</footer>
	</div>

	<script src="../js/appointments.js"></script>
	<script src="../js/dashboard.js"></script>

</body>

</html>