<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthcare Management</title>
  <link rel="stylesheet" href="../css/dashboard.css">
  <link rel="stylesheet" href="../css/medicines.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  <div class="sidebar">

    <a id="closeBtn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="28" fill="currentColor">
        <path
          d="M11.414 10l2.829-2.828a1 1 0 1 0-1.415-1.415L10 8.586 7.172 5.757a1 1 0 0 0-1.415 1.415L8.586 10l-2.829 2.828a1 1 0 0 0 1.415 1.415L10 11.414l2.828 2.829a1 1 0 0 0 1.415-1.415L11.414 10zM10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z">
        </path>
      </svg>
    </a>

    <ul>

      <li><a href="./dashboard.html">
          Home
        </a></li>

      <li><a href="./views/patients.html">
          Patients
        </a></li>

      <li><a href="./views/appointments.html">
          Appointments</a></li>

      <li><a href="./views/departments.html">
          Departments
        </a></li>

      <li style="display: flex;" class="custom">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Employees
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./views/doctors.html">Doctors</a></li>
            <li><a class="dropdown-item" href="./views/nurses.html">Nurses</a></li>
          </ul>
        </div>

      </li>

      <li><a href="./views/medicines.html">
          Medicines
        </a></li>

      <li><a href="./views/stocks.html">
          Stocks
        </a></li>

      <li><a href="./views/suppliers.html">
          Suppliers
        </a></li>

    </ul>
  </div>

  <a id="openBtn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4.5 -7 24 24" width="28" fill="currentColor">
      <path
        d="M2 0h12a1 1 0 0 1 0 2H2a1 1 0 1 1 0-2zm0 8h12a1 1 0 0 1 0 2H2a1 1 0 1 1 0-2zm6-4h6a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2zM4.44 5.857L2.382 7.091a1 1 0 0 1-1.515-.857V3.766a1 1 0 0 1 1.515-.857l2.056 1.234a1 1 0 0 1 0 1.714z">
      </path>
    </svg>
  </a>



  <div class="content">
    <main>
      <div class="headerBar">
        <div class="username">
          <h2>Hi Mohamed Ehab<br> <span>Purchase Drugs</span></h2>
        </div>
        <div class="search-notification">
          <svg class="searchIcon" xmlns="http://www.w3.org/2000/svg" viewBox="-2.5 -2.5 24 24" width="28"
            fill="currentColor">
            <path
              d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm6.32-1.094l3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z">
            </path>
          </svg>
          <input type="search" name="" id="searchInput" placeholder="Search">
          <svg class="notification" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -2 24 24" width="28"
            fill="currentColor">
            <path
              d="M13.666 11.782L13 11.186V6a4 4 0 1 0-8 0v5.186l-.666.596A6.987 6.987 0 0 0 2.29 15h13.42a6.987 6.987 0 0 0-2.044-3.218zM12 17a3 3 0 0 1-6 0H0a8.978 8.978 0 0 1 3-6.708V6a6 6 0 1 1 12 0v4.292A8.978 8.978 0 0 1 18 17h-6zm-3 1a1 1 0 0 0 1-1H8a1 1 0 0 0 1 1z">
            </path>
          </svg>
        </div>
      </div>

      <div class="medicines">
        
      </div>

    </main>
  </div>

  <script src="../js/dashboard.js"></script>
  <script src="../js/medicines.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0f93dca8dc.js" crossorigin="anonymous"></script>
</body>

</html>